@font-face {
    font-family: "Scandia";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Scandia"),
         /* Если не получилось, загрузит woff2 */
         url("/fonts/Scandia-Regular.woff2") format("woff2"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("/fonts/Scandia-Regular.woff") format("woff");
}

@font-face {
    font-family: "Scandia";
    font-style: normal;
    font-weight: 700;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Scandia"),
         /* Если не получилось, загрузит woff2 */
         url("/fonts/Scandia-Bold.woff2") format("woff2"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("/fonts/Scandia-Bold.woff") format("woff");
}

* {
    color: white;
}

body {
    font-family: "Scandia", "Arial", sans-serif;
    background-color: #171923;
}

a, p {
    font-size: 20px;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 28px;
}

.container {
    max-width: 1100px;
    padding: 0px 20px;
}

.red {
    color: #F13C2F;
}

a {
    transition: all .2s;
    text-decoration: none;
    color: #F13C2F;
}

a:hover {
    color: #F13C2F;
    transform: translateY(-5px);
}

a:not(:last-child) {
    margin-right: 30px;
}

li {
    list-style: none;
}

ul {
    padding-left: 0;
}

/*Очистка стилей для radio*/
input[type="radio"]{
    display:none;
}

/*Обшие кастомные стили*/
.main-btn, .secondary-btn {
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 220px;
    height: 50px;
    border: 1px solid #F13C2F;
}

.main-btn:hover, .secondary-btn:hover {
    transform: translateY(0);
}

.main-btn {
    font-size: 20px;
    color: white;
    background: #F13C2F;
}

.main-btn:hover {
    background: none;
}

.secondary-btn:hover {
    color: white;
    background: #F13C2F;
}

/*Модальное окно*/
.modal-content {
    background: #171923;
}

.modal-header {
    border-bottom: 1px solid #282C34;
}

.modal-footer {
    border-top: 1px solid #282C34;
}

.btn-close {
    background: transparent url('../img/close.svg') center/1em auto no-repeat;
}

.btn-primary {
    background: #F13C2F;
    border: #F13C2F 1px solid;
}

.btn-primary:hover {
    color: #F13C2F;
    background: none;
    transform: none;
    border: #F13C2F 1px solid;
}

.btn {
    margin: 4px !important;
}

.btn-secondary {
    background: none;
    border: #F13C2F 1px solid;
    color: #F13C2F;
} 

.btn-secondary:hover {
    transform: none;
    background: #F13C2F;
    border: #F13C2F 1px solid;
}

/*Стили для шапки и подвала*/
.header, .footer {
    margin: 25px 0;
}

.logo-title {
    margin-left: 15px;
}

.logo-upper {
    font-weight: 400;
    font-size: 32px;
    height: 25px;
}

.logo-lower {
    font-size: 16px;
}

.footer-nav-link:not(:last-child) {
    margin-right: 20px;
}

.socials {
    margin-left: 0;
}

.navbar-toggler {
    width: 50px;
    height: 50px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/*Меню в шапке*/
.navbar-toggler-icon {
    width: 50px;
    background: transparent url('../img/icons/burger.svg') center/1em auto no-repeat;
    background-size: 100%;
}

.header-links {
    width: 100%;
}

/*ГЛАВНАЯ СТРАНИЦА
Section Hero стили*/
.section-hero {
    margin-top: 200px;
    margin-bottom: 280px;
}

.hero-text {
    max-width: 460px;
    margin: 30px 0;
}

.hero-img {
    width: 100%;
}

/*Стили секции "О сайте"*/
.section-about {
    padding: 100px 0;
    background: #F13C2F;
}

.about-title {
    margin-bottom: 30px;
}

.about-text {
    width: 100%;
    font-size: 18px;
}

.about-img {
    width: 100%;
}

/*Стили для секции с рекомендованными видео*/
.section-videos {
    margin: 150px 0;
}

.videos {
    margin-top: 50px;
}

.video {
    width: 100%;
    height: 280px;
    border-radius: 15px;
    cursor: pointer;
    background: black;
}

/*СТРАНИЦА С УРОКАМИ
стили для секции о модуле*/
.section-unit {
    margin-top: 100px;
    margin-bottom: 100px;
}

.unit-text {
    margin: 30px 0;
}

.unit-icon {
    margin-right: 5px;
}

.unit-info-text:first-child {
    margin-right: 10px;
}

.unit-btns {
    margin-top: 30px;
}

/*Стили для карточек с уроками*/
.section-lessons {
    margin-bottom: 150px;
}

.lesson-title {
    margin-bottom: 25px;
}

.lesson-title:not(:first-child) {
    margin-top: 50px;
}

.lesson-card {
    background-color: #F13C2F;
    border-radius: 10px;
}

.lesson-item {
    padding: 20px;
}

.lesson-item a {
    color: white;
}

.lesson-line {
    margin: 0;
}

/*СТИЛИ ДЛЯ УРОКОВ*/
.section-less {
    margin: 50px 0;
}

.less-container {
    max-width: 900px;
    padding: 0 20px;
    margin: 0 auto;
}

/*Стили выделения слов*/
.less-sel {
    color: #F13C2F;
    background: #282C34;
    padding: 1px 2px;
    border-radius: 3px;
}

/*Заголовки*/
.less-title-link {
    font-size: 48px;
    color: white;
}

.less-main-subtitle {
    margin: 30px 0;
}

.less-title {
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 25px;
}

.less-title::before, .less-subtitle::before {
    content: '# ';
    color: #F13C2F;
}

.less-subtitle {
    font-weight: normal;
    margin-bottom: 25px;
}

.less-subtopic:not(:first-child) {
    margin-top: 40px;
}

/*Стили абзацев*/
.less-text {
    color: #c7c7c7;
}

/*Стили навигации по уроку*/
.less-nav-link::before, .less-subnav-link::before {
    content: '# ';
    color: #F13C2F;
}

.less-nav-link {
    color: white;
}

.less-subnav-link {
    color: #c7c7c7;
    margin-left: 30px;
}

/*Стили списков урока*/
.less-item {
    color: #c7c7c7;
    padding: 0;
}

.less-item:not(:last-child) {
    margin-bottom: 10px;
}

.less-item::before {
    content: '# ';
    color: #F13C2F;
}

/*Стили для изображений урока*/
.less-img {
    margin-top: 25px;
    margin-bottom: 35px;
}

/*Стили для ссылок в уроке*/
.less-link {
    margin: 0 !important;
}

.less-link:hover {
    color: #8f0a00;
}

/*Стили блока с кодом*/
.code {
    margin: 25px 0;
}

.copy-icon-block {
    width: 100%;
    display: flex;
    justify-content: end;
    position: relative;
    top: 10px;
    right: 10px;
}

.copy-icon {
    width: 22px;
    height: 22px;
    position: absolute;
    cursor: pointer;
}

.copy-icon:hover path {
    fill: #979aa5;
}

.code-block {
    border-radius: 10px;
    padding: 20px !important;
}

.less-text, .less-sel, .less-nav-link, .less-subnav-link, .less-link {
    font-size: 18px;
}

/*Стили для страницы тестов*/
.section-test {
    margin-bottom: 150px;
}

.test-title {
    margin-top: 150px;
}

.que {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.test-radio {
    margin-top: 15px;
}

.que-label {
    margin-left: 10px;
}

.test-radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 0;
	line-height: 18px;
	user-select: none;
}

.que-label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 17px;
	position: absolute;
	left: 0;
	bottom: 1px;
	border: 1px solid #F13C2F;
    border-radius: 50%;
}
 
/* Checked */
input[type=radio]:checked + label:before {
	background: url(../img/circle.svg) center no-repeat;
}
 
/* Hover */
.que-label:hover:before {
	filter: brightness(120%);
}
 
/* Disabled */
.test-radio input[type=radio]:disabled + label:before {
	filter: grayscale(100%);
}

/*Стили для страницы тестов*/
.section-tests {
    margin: 150px 0;
}

.tests-square {
    font-size: 96px;
    font-weight: bold;
    background: #F13C2F;
    width: 175px;
    height: 175px;
    border-radius: 10px;
    margin-right: 20px;
}

.tests-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tests-card-title {
    max-width: 300px;
}

/*Медиа запросы*/
@media (max-width: 575.98px) {
    .section-hero, .section-unit {
        margin-top: 50px;
        margin-bottom: 70px;
    }

    .section-tests, .test-title {
        margin-top: 50px;
    }
    
    .logo-title {
        display: none;
    }

    .footer-logo {
        display: none !important;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
    }

    p {
        font-size: 18px;
    }

    .video {
        height: 250px;
    }

    .main-btn {
        margin-right: 0 !important;
    }

    .less-text, .less-sel, .less-link {
        font-size: 14px;
    }

    .tests-title {
        font-size: 32px;
    }

    .tests-square {
        width: 80px;
        height: 80px;
        font-size: 60px;
    }

    .tests-card-title {
        font-size: 15px;
    }

    .tests-btn {
        width: 140px;
        height: 30px;
        font-size: 14px;
    }
}
