<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/atom-one-dark.min.css">
    <link rel="stylesheet" href="../../css/noty.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="icon" href="../../img/logo.svg" type="image/x-icon">
    <title>Урок 2</title>
</head>
<body>
    <header class="header">
        <div class="container">
                <nav class="navbar navbar-expand-md">
                    <div class="container-fluid d-flex">
                        <a class="logo d-flex align-items-center" href="../../index.html">
                            <img src="../../img/logo.svg" alt="Логотип" class="logo-img">
                            <div class="logo-title">
                                <h3 class="logo-upper red">
                                    Laravel 10
                                </h3>
                                <span class="logo-lower">
                                    (на русском языке)
                                </span>
                            </div>
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>  
                        <div class="collapse navbar-collapse" id="navbarNav">  
                            <div class="header-links d-flex justify-content-md-end justify-content-center flex-md-row flex-column text-center">
                                <a class="header-nav-link me-md-4 mb-md-0 mt-md-0 me-0 mb-3 mt-5" href="https://laravel.com/docs/10.x" target="_blank">Документация</a>
                                <a class="header-nav-link me-md-4 mb-md-0 me-0 mb-3" href="../../index.html#about">О сайте</a>
                                <a class="header-nav-link" href="../../training.html">Обучение</a>
                            </div>
                        </div>
                    </div>
                </nav>
        </div>
    </header>

    <main class="main">
        <a class="up-icon" href="#top" id="up-icon">
            <img class="up-icon-img" src="../../img/icons/go-up.svg" alt="Иконка поднятия к верхнему экрану">
        </a>
        <section class="section-less">
            <div class="less-container">
                <h1 class="less-main-title"><a href="../../training.html" class="less-title-link"><span class="red">Тема 4</span> -  Модели и база данных</a></h1>
                <h2 class="less-main-subtitle"><span class="red">Урок 2</span> - Операции с использованием моделей.</h2>
                <ul class="less-nav up-block">
                    <li class="less-nav-item"><a href="#controller" class="less-nav-link">Создание контроллера</a></li>
                    <li class="less-nav-item"><a href="#route" class="less-nav-link">Добавление маршрута</a></li>
                    <li class="less-nav-item"><a href="#view" class="less-nav-link">Создание представлений</a></li>
                    <li class="less-nav-item"><a href="#setting" class="less-nav-link">Настройка контроллера</a></li>
                </ul>
                <div class="less-topic" id="controller">
                    <h2 class="less-title">Создание контроллера</h2>
                    <p class="less-text">
                        Для взаимодействия с моделью, нам нужен контроллер, создадим его с помощью следущей команды:
                    </p>
                    <div class="code">
                        <div class="copy-icon-block">
                            <svg class="copy-icon" id="code-btn-1" onclick="copyText(this)" width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 2C8.34315 2 7 3.34315 7 5V5.00068C5.92115 5.00539 5.32954 5.04261 4.88886 5.33706C4.67048 5.48298 4.48298 5.67048 4.33706 5.88886C4 6.39331 4 7.09554 4 8.5V18C4 19.8856 4 20.8284 4.58579 21.4142C5.17157 22 6.11438 22 8 22H16C17.8856 22 18.8284 22 19.4142 21.4142C20 20.8284 20 19.8856 20 18V8.5C20 7.09554 20 6.39331 19.6629 5.88886C19.517 5.67048 19.3295 5.48298 19.1111 5.33706C18.6705 5.04261 18.0789 5.00539 17 5.00068V5C17 3.34315 15.6569 2 14 2H10ZM10 5C10 4.44772 10.4477 4 11 4H13C13.5523 4 14 4.44772 14 5C14 5.55228 13.5523 6 13 6H11C10.4477 6 10 5.55228 10 5ZM9 11C8.44772 11 8 11.4477 8 12C8 12.5523 8.44772 13 9 13H15C15.5523 13 16 12.5523 16 12C16 11.4477 15.5523 11 15 11H9ZM9 15C8.44772 15 8 15.4477 8 16C8 16.5523 8.44772 17 9 17H13C13.5523 17 14 16.5523 14 16C14 15.4477 13.5523 15 13 15H9Z" fill="#82848d"/>
                            </svg>
                        </div>
                        <pre><code class="language-php code-block" id="code-text-1">php artisan make:controller NewUserController --resource</code></pre>
                    </div>
                    <p class="less-text">
                        В данном случае <span class="less-text">--resource</span> сразу добавляет в контроллер нужные методы. Наш контроллер находится в папке <span class="less-sel">app/Http/Controllers</span>.
                    </p>
                </div>
                <div class="less-topic" id="route">
                    <h2 class="less-title">Добавление маршрута</h2>
                    <p class="less-text">
                        Теперь добавим следущий маршрут в файл <span class="less-sel">web.php</span>:
                    </p>
                    <div class="code">
                        <div class="copy-icon-block">
                            <svg class="copy-icon" id="code-btn-2" onclick="copyText(this)" width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 2C8.34315 2 7 3.34315 7 5V5.00068C5.92115 5.00539 5.32954 5.04261 4.88886 5.33706C4.67048 5.48298 4.48298 5.67048 4.33706 5.88886C4 6.39331 4 7.09554 4 8.5V18C4 19.8856 4 20.8284 4.58579 21.4142C5.17157 22 6.11438 22 8 22H16C17.8856 22 18.8284 22 19.4142 21.4142C20 20.8284 20 19.8856 20 18V8.5C20 7.09554 20 6.39331 19.6629 5.88886C19.517 5.67048 19.3295 5.48298 19.1111 5.33706C18.6705 5.04261 18.0789 5.00539 17 5.00068V5C17 3.34315 15.6569 2 14 2H10ZM10 5C10 4.44772 10.4477 4 11 4H13C13.5523 4 14 4.44772 14 5C14 5.55228 13.5523 6 13 6H11C10.4477 6 10 5.55228 10 5ZM9 11C8.44772 11 8 11.4477 8 12C8 12.5523 8.44772 13 9 13H15C15.5523 13 16 12.5523 16 12C16 11.4477 15.5523 11 15 11H9ZM9 15C8.44772 15 8 15.4477 8 16C8 16.5523 8.44772 17 9 17H13C13.5523 17 14 16.5523 14 16C14 15.4477 13.5523 15 13 15H9Z" fill="#82848d"/>
                            </svg>
                        </div>
                        <pre><code class="language-php code-block" id="code-text-2">use App\Http\Controllers\NewUserController;
                            
Route::resource('users', NewUserController::class);</code></pre>
                    </div>
                    <p class="less-text">
                        В данном случае <span class="less-text">--resource</span> сразу добавляет в контроллер нужные методы. Наш контроллер находится в папке <span class="less-sel">app/Http/Controllers</span>.
                    </p>
                </div>
                <div class="less-topic" id="view">
                    <h2 class="less-title">Создание представлений</h2>
                    <p class="less-text">
                        Перейдем к созданию шаблонов. Для этого в папке <span class="less-sel">resources/views</span> создаем папку <span class="less-sel">users</span> где и будут хранится наши шаблоны.
                    </p>
                    <p class="less-text">
                        Для начала создадим основу, в которую будет вставляться наш контент, назвав его <span class="less-sel">layout.blade.php</span>, она будет иметь следующий код:
                    </p>
                    <div class="code">
                        <div class="copy-icon-block">
                            <svg class="copy-icon" id="code-btn-3" onclick="copyText(this)" width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 2C8.34315 2 7 3.34315 7 5V5.00068C5.92115 5.00539 5.32954 5.04261 4.88886 5.33706C4.67048 5.48298 4.48298 5.67048 4.33706 5.88886C4 6.39331 4 7.09554 4 8.5V18C4 19.8856 4 20.8284 4.58579 21.4142C5.17157 22 6.11438 22 8 22H16C17.8856 22 18.8284 22 19.4142 21.4142C20 20.8284 20 19.8856 20 18V8.5C20 7.09554 20 6.39331 19.6629 5.88886C19.517 5.67048 19.3295 5.48298 19.1111 5.33706C18.6705 5.04261 18.0789 5.00539 17 5.00068V5C17 3.34315 15.6569 2 14 2H10ZM10 5C10 4.44772 10.4477 4 11 4H13C13.5523 4 14 4.44772 14 5C14 5.55228 13.5523 6 13 6H11C10.4477 6 10 5.55228 10 5ZM9 11C8.44772 11 8 11.4477 8 12C8 12.5523 8.44772 13 9 13H15C15.5523 13 16 12.5523 16 12C16 11.4477 15.5523 11 15 11H9ZM9 15C8.44772 15 8 15.4477 8 16C8 16.5523 8.44772 17 9 17H13C13.5523 17 14 16.5523 14 16C14 15.4477 13.5523 15 13 15H9Z" fill="#82848d"/>
                            </svg>
                        </div>
                        <pre><code class="code-block" id="code-text-3">&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;ru&quot;&gt;
&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;&gt;
    &lt;meta http-equiv=&quot;X-UA-Compatible&quot; content=&quot;ie=edge&quot;&gt;
    &lt;title&gt;CRUD &#1086;&#1087;&#1077;&#1088;&#1072;&#1094;&#1080;&#1080;&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div class=&quot;container&quot;&gt;
        @yield('content')
    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
                    </div>
                    <p class="less-text">
                        Вывод результатов создания пользователя будет в <span class="less-sel">index.blade.php</span>:
                    </p>
                    <div class="code">
                        <div class="copy-icon-block">
                            <svg class="copy-icon" id="code-btn-4" onclick="copyText(this)" width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 2C8.34315 2 7 3.34315 7 5V5.00068C5.92115 5.00539 5.32954 5.04261 4.88886 5.33706C4.67048 5.48298 4.48298 5.67048 4.33706 5.88886C4 6.39331 4 7.09554 4 8.5V18C4 19.8856 4 20.8284 4.58579 21.4142C5.17157 22 6.11438 22 8 22H16C17.8856 22 18.8284 22 19.4142 21.4142C20 20.8284 20 19.8856 20 18V8.5C20 7.09554 20 6.39331 19.6629 5.88886C19.517 5.67048 19.3295 5.48298 19.1111 5.33706C18.6705 5.04261 18.0789 5.00539 17 5.00068V5C17 3.34315 15.6569 2 14 2H10ZM10 5C10 4.44772 10.4477 4 11 4H13C13.5523 4 14 4.44772 14 5C14 5.55228 13.5523 6 13 6H11C10.4477 6 10 5.55228 10 5ZM9 11C8.44772 11 8 11.4477 8 12C8 12.5523 8.44772 13 9 13H15C15.5523 13 16 12.5523 16 12C16 11.4477 15.5523 11 15 11H9ZM9 15C8.44772 15 8 15.4477 8 16C8 16.5523 8.44772 17 9 17H13C13.5523 17 14 16.5523 14 16C14 15.4477 13.5523 15 13 15H9Z" fill="#82848d"/>
                            </svg>
                        </div>
                        <pre><code class="code-block" id="code-text-4">@extends('users.layout')
@section('content')

&lt;h2&gt;&#1044;&#1086;&#1073;&#1072;&#1074;&#1083;&#1077;&#1085;&#1080;&#1077; &#1085;&#1086;&#1074;&#1086;&#1075;&#1086; &#1087;&#1086;&#1083;&#1100;&#1079;&#1086;&#1074;&#1072;&#1090;&#1077;&#1083;&#1103;&lt;/h2&gt;

@if ($message = Session::get('success'))
    &lt;div class=&quot;alert alert-success&quot;&gt;
        &lt;p&gt;{{ $message }}&lt;/p&gt;
    &lt;/div&gt;
@endif
@endsection</code></pre>
                    </div>
                    <p class="less-text">
                        Создание пользователя расположится в <span class="less-sel">create.blade.php</span>:
                    </p>
                    <div class="code">
                        <div class="copy-icon-block">
                            <svg class="copy-icon" id="code-btn-5" onclick="copyText(this)" width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 2C8.34315 2 7 3.34315 7 5V5.00068C5.92115 5.00539 5.32954 5.04261 4.88886 5.33706C4.67048 5.48298 4.48298 5.67048 4.33706 5.88886C4 6.39331 4 7.09554 4 8.5V18C4 19.8856 4 20.8284 4.58579 21.4142C5.17157 22 6.11438 22 8 22H16C17.8856 22 18.8284 22 19.4142 21.4142C20 20.8284 20 19.8856 20 18V8.5C20 7.09554 20 6.39331 19.6629 5.88886C19.517 5.67048 19.3295 5.48298 19.1111 5.33706C18.6705 5.04261 18.0789 5.00539 17 5.00068V5C17 3.34315 15.6569 2 14 2H10ZM10 5C10 4.44772 10.4477 4 11 4H13C13.5523 4 14 4.44772 14 5C14 5.55228 13.5523 6 13 6H11C10.4477 6 10 5.55228 10 5ZM9 11C8.44772 11 8 11.4477 8 12C8 12.5523 8.44772 13 9 13H15C15.5523 13 16 12.5523 16 12C16 11.4477 15.5523 11 15 11H9ZM9 15C8.44772 15 8 15.4477 8 16C8 16.5523 8.44772 17 9 17H13C13.5523 17 14 16.5523 14 16C14 15.4477 13.5523 15 13 15H9Z" fill="#82848d"/>
                            </svg>
                        </div>
                        <pre><code class="code-block" id="code-text-5">@extends('users.layout')
@section('content')

&lt;h2&gt;&#1044;&#1086;&#1073;&#1072;&#1074;&#1083;&#1077;&#1085;&#1080;&#1077; &#1085;&#1086;&#1074;&#1086;&#1075;&#1086; &#1087;&#1086;&#1083;&#1100;&#1079;&#1086;&#1074;&#1072;&#1090;&#1077;&#1083;&#1103;&lt;/h2&gt;

@if ($errors-&gt;any())
    &lt;div class=&quot;alert alert-danger&quot;&gt;
        &lt;ul&gt;
            @foreach ($errors-&gt;all() as $error)
                &lt;li&gt;{{ $error }}&lt;/li&gt;
            @endforeach
        &lt;/ul&gt;
    &lt;/div&gt;
@endif

&lt;form action=&quot;{{ route('users.store') }}&quot; method=&quot;POST&quot;&gt;
    @csrf


        &lt;strong&gt;&#1048;&#1084;&#1103;:&lt;/strong&gt;
        &lt;input type=&quot;text&quot; name=&quot;name&quot; placeholder=&quot;&#1048;&#1074;&#1072;&#1085;&quot;&gt;
        &lt;strong&gt;&#1055;&#1072;&#1088;&#1086;&#1083;&#1100;:&lt;/strong&gt;
        &lt;input type=&quot;password&quot; name=&quot;password&quot;&gt;
        &lt;button type=&quot;submit&quot;&gt;&#1057;&#1086;&#1079;&#1076;&#1072;&#1090;&#1100;&lt;/button&gt;

    &lt;/div&gt;
&lt;/form&gt;
@endsection</code></pre>
                    </div>
                    <p class="less-text">
                        И наконец отображение пользователей будет в <span class="less-sel">show.blade.php</span>:
                    </p>
                    <div class="code">
                        <div class="copy-icon-block">
                            <svg class="copy-icon" id="code-btn-6" onclick="copyText(this)" width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 2C8.34315 2 7 3.34315 7 5V5.00068C5.92115 5.00539 5.32954 5.04261 4.88886 5.33706C4.67048 5.48298 4.48298 5.67048 4.33706 5.88886C4 6.39331 4 7.09554 4 8.5V18C4 19.8856 4 20.8284 4.58579 21.4142C5.17157 22 6.11438 22 8 22H16C17.8856 22 18.8284 22 19.4142 21.4142C20 20.8284 20 19.8856 20 18V8.5C20 7.09554 20 6.39331 19.6629 5.88886C19.517 5.67048 19.3295 5.48298 19.1111 5.33706C18.6705 5.04261 18.0789 5.00539 17 5.00068V5C17 3.34315 15.6569 2 14 2H10ZM10 5C10 4.44772 10.4477 4 11 4H13C13.5523 4 14 4.44772 14 5C14 5.55228 13.5523 6 13 6H11C10.4477 6 10 5.55228 10 5ZM9 11C8.44772 11 8 11.4477 8 12C8 12.5523 8.44772 13 9 13H15C15.5523 13 16 12.5523 16 12C16 11.4477 15.5523 11 15 11H9ZM9 15C8.44772 15 8 15.4477 8 16C8 16.5523 8.44772 17 9 17H13C13.5523 17 14 16.5523 14 16C14 15.4477 13.5523 15 13 15H9Z" fill="#82848d"/>
                            </svg>
                        </div>
                        <pre><code class="code-block language-xml" id="code-text-6">@extends('users.layout')
@section('content')

&lt;h2&gt;&#1055;&#1088;&#1086;&#1089;&#1084;&#1086;&#1090;&#1088; &#1087;&#1086;&#1083;&#1100;&#1079;&#1086;&#1074;&#1072;&#1090;&#1077;&#1083;&#1077;&#1081;&lt;/h2&gt;
@foreach ($users as $user)
&lt;div&gt;
    &lt;strong&gt;&#1048;&#1084;&#1103;:&lt;/strong&gt;
    {{ $user-&gt;name }}
    &lt;strong&gt;&#1055;&#1072;&#1088;&#1086;&#1083;&#1100;:&lt;/strong&gt;
    {{ $user-&gt;password }}
&lt;/div&gt;
@endforeach</code></pre>
                    </div>
                </div>
                <div class="less-topic" id="setting">
                    <h2 class="less-title">Настройка контроллера</h2>
                    <p class="less-text">
                        Теперь произведем настройку контроллера следущим образом:
                    </p>
                    <div class="code">
                        <div class="copy-icon-block">
                            <svg class="copy-icon" id="code-btn-7" onclick="copyText(this)" width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 2C8.34315 2 7 3.34315 7 5V5.00068C5.92115 5.00539 5.32954 5.04261 4.88886 5.33706C4.67048 5.48298 4.48298 5.67048 4.33706 5.88886C4 6.39331 4 7.09554 4 8.5V18C4 19.8856 4 20.8284 4.58579 21.4142C5.17157 22 6.11438 22 8 22H16C17.8856 22 18.8284 22 19.4142 21.4142C20 20.8284 20 19.8856 20 18V8.5C20 7.09554 20 6.39331 19.6629 5.88886C19.517 5.67048 19.3295 5.48298 19.1111 5.33706C18.6705 5.04261 18.0789 5.00539 17 5.00068V5C17 3.34315 15.6569 2 14 2H10ZM10 5C10 4.44772 10.4477 4 11 4H13C13.5523 4 14 4.44772 14 5C14 5.55228 13.5523 6 13 6H11C10.4477 6 10 5.55228 10 5ZM9 11C8.44772 11 8 11.4477 8 12C8 12.5523 8.44772 13 9 13H15C15.5523 13 16 12.5523 16 12C16 11.4477 15.5523 11 15 11H9ZM9 15C8.44772 15 8 15.4477 8 16C8 16.5523 8.44772 17 9 17H13C13.5523 17 14 16.5523 14 16C14 15.4477 13.5523 15 13 15H9Z" fill="#82848d"/>
                            </svg>
                        </div>
                        <pre><code class="language-php code-block" id="code-text-7">&lt;?php

namespace App\Http\Controllers;

use Illuminate\Http\Request;
use App\Models\User;

class NewUserController extends Controller
{
    /**
        * Display a listing of the resource.
        */
    public function index()
    {
        return view('users.index');
    }

    /**
        * Show the form for creating a new resource.
        */
    public function create()
    {
        return view('users.create');
    }

    /**
        * Store a newly created resource in storage.
        */
    public function store(Request $request)
    {
        $request->validate([
            'name' => 'required',
            'password' => 'required',
        ]);
        User::create($request->all());
        return redirect()->route('users.index')->with('success','Пользователь добавлен успешно.');
    }

    /**
        * Display the specified resource.
        */
    public function show(string $id)
    {
        $users = User::all();
        return view('users.show', compact('users'));
    }

}</code></pre>
                    </div>
                    <p class="less-text">
                        Теперь при переходе по <span class="less-sel">users/create</span> вы попадаете на страницу создания пользователя. После его создания он попадет в вашу таблицу. А при переходе по <span class="less-sel">users/show</span> будут выведены все пользователи из таблицы.
                    </p>
                </div>
                <div class="less-btns d-flex flex-sm-row flex-column justify-content-center align-items-center mt-5">
                    <a href="../../tests/unit-1/4.html" class="main-btn">К ТЕСТИРОВАНИЮ</a>
                    <a href="lesson-3.html" class="secondary-btn mt-sm-0 mt-4">СЛЕДУЮЩИЙ УРОК</a>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-6">
                    <a class="logo footer-logo d-flex align-items-center" href="../../index.html">
                        <img src="../../img/logo.svg" alt="Логотип" class="logo-img">
                        <div class="logo-title">
                            <h3 class="logo-upper red">
                                Laravel 10
                            </h3>
                            <span class="logo-lower">
                                (на русском языке)
                            </span>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-12 d-flex justify-content-sm-end justify-content-center socials">
                    <a class="footer-nav-link" href="https://vk.com/ostaniin" target="_blank"><img src="../../img/socials/vk.svg" class="footer-icon" alt="Иконка вконтакте"></a>
                    <a class="footer-nav-link" href="https://t.me/OSTENB" target="_blank"><img src="../../img/socials/tg.svg" class="footer-icon" alt="Иконка телеграма"></a>
                    <a class="footer-nav-link" href="https://discordapp.com/users/637660959758090241/" target="_blank"><img src="../../img/socials/ds.svg" class="footer-icon" alt="Иконка дискорда"></a>
                    <a class="footer-nav-link" href="kkostaninkk@gmail.com" target="_blank"><img src="../../img/socials/google.svg" class="footer-icon" alt="Иконка гугл почты"></a>
                </div>
            </div>
        </div>
    </footer>

    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/noty.min.js"></script>
    <script src="../../js/copyText.js"></script>
    <script src="../../js/highlight.min.js"></script>
    <script src="../../js/php.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script>
        let up_icon = document.getElementById('up-icon');
        // Создаем новый экземпляр Intersection Observer
        var observer = new IntersectionObserver(function(entries) {
            entries.forEach(function(entry) {
            // Если div становится видимым
            if (entry.isIntersecting) {
                up_icon.style.display = 'none';
            } else {
                up_icon.style.display = 'block';
            }
            });
        });

        // Находим целевой div
        let up_block = document.querySelector('.up-block');
        // Наблюдаем за изменениями видимости div
        observer.observe(up_block);
    </script>
</body>
</html>